<section class="consolidate-tools">
  <div class="consolidateTools_header">
    <h2
      class="heading-title homeHero_header-title consolidateTools_header-title"
    >
      Consolidate tools. Cut costs.
    </h2>
    <div class="consolidateTools-strikethroughEffectContainer">
      <div class="homeConsolidate-overlay">
        <div class="homeConsolidateTools_strikethroughEffect">
          <img
            src="images/tools-before-notion-V2.webp"
            alt="tools-before-notion-V2"
          />
        </div>
        <div class="homeConsolidateTools_toolsStrikethrough">
          <img src="images/tools-strikethrough-V2.webp" alt="" srcset="" />
        </div>
      </div>
      <div class="homeConsolidateTools_pencilPeekIllustration">
        <img src="images/pencil-peek-illustration-V2.webp" alt="" />
      </div>
      <div class="homeConsolidateTools_giantPencilIllustration">
        <img src="images/giant-pencil-illustration.webp" alt="" />
      </div>
    </div>
  </div>
  <div class="blockQuote_quote">
    <blockquote class="blockQuote_quote-title">
      "We got rid of nearly a dozen different tools because of what Notion does
      for us."
    </blockquote>
    <div class="blockQuote_quoteCaption">
      <img src="images/metalab.webp" alt="metalab" class="blockQuote-image" />
      <div class="blockQuote_author">
        <p class="blockQuote_author-title">Justin Watt</p>
        <p class="blockQuote_author-designation">
          Director of Ops & Marketing, MetaLab
        </p>
      </div>
    </div>
  </div>
</section>
