<section class="HomeCustomerWall container">
  <header class="HomeCustomerWall_header">
    <h2 class="heading-title">Millions run on Notion every day</h2>
    <div class="HomeCustomerWall-subHeader">
      <h3 class="heading-subTitle">
        Powering the world's best teams, from next-generation startups to
        established enterprises.
      </h3>
      <a href="#" class="link-arrow link-arrow-blue"
        ><span> Read customer stories</span></a
      >
    </div>
  </header>
  <div class="HomeCustomerWall_logo">
    <div class="HomeCustomerWall_logoContainer">
      <img src="images/customers/figma-logo.png" alt="figma-logo" />
    </div>
    <div class="HomeCustomerWall_logoContainer">
      <img src="images/customers/pixar.png" alt="pixar" />
    </div>
    <div class="HomeCustomerWall_logoContainer">
      <img
        src="images/customers/doordash.png"
        alt="doordash"
        style="max-width: 135px; max-height: 55px"
      />
    </div>
    <div class="HomeCustomerWall_logoContainer">
      <img src="images/customers/nike.png" alt="nike" />
    </div>
    <div class="HomeCustomerWall_logoContainer">
      <img src="images/customers/amazon.png" alt="amazon" />
    </div>
    <div class="HomeCustomerWall_logoContainer">
      <img src="images/customers/pinterest.png" alt="pinterest" />
    </div>
    <div class="HomeCustomerWall_logoContainer">
      <img
        src="images/customers/General_Electric_logo.svg__1_.png"
        style="max-width: 50px; max-height: 50px"
        alt="General_Electric_logo"
      />
    </div>
    <div class="HomeCustomerWall_logoContainer">
      <img src="images/customers/uber.png" alt="uber" />
    </div>
    <div class="HomeCustomerWall_logoContainer">
      <img src="images/customers/plaid.png" alt="plaid" />
    </div>
    <div class="HomeCustomerWall_logoContainer">
      <img src="images/customers/toyota.png" alt="toyota" />
    </div>
    <div class="HomeCustomerWall_logoContainer">
      <img
        src="images/customers/snowflake.png"
        style="max-width: 101px; max-height: 55px"
        alt="snowflake"
      />
    </div>
    <div class="HomeCustomerWall_logoContainer">
      <img
        src="images/customers/headspace.png"
        style="max-width: 106px; max-height: 55px"
        alt="headspace"
      />
    </div>
    <div class="HomeCustomerWall_logoContainer">
      <img src="images/customers/angel-list.png" alt="angel-list" />
    </div>
    <div class="HomeCustomerWall_logoContainer">
      <img src="images/customers/robinhood_logo.png" alt="robinhood_logo" />
    </div>
  </div>
</section>
