<section class="homeHero">
  <header class="homeHero_header">
    <h1 class="homeHero_header-title">
      Your
      <span>
        <a href="#" class="homeHero_productLink">
          <span class="homeHero-title-icon">
            <img src="images/wikis-icon.webp" alt="Wiki" />
          </span>
          wiki,</a
        >
      </span>
      <span>
        <a href="#" class="homeHero_productLink">
          <span class="homeHero-title-icon">
            <img src="images/docs-icon.webp" alt="Docs" />
          </span>
          docs,
        </a>
      </span>
      <br class="HomeHero_textBreak" />
      &
      <span>
        <a href="#" class="homeHero_productLink">
          <span class="homeHero-title-icon">
            <img src="images/projects-icon.webp" alt="Projects" />
          </span>
          projects.
        </a>
      </span>
      Together.
    </h1>
    <h2 class="homeHero_subtitle">
      Notion is the connected workspace where <br class="HomeHero_textBreak" />
      better, faster work happens. Now with AI
      <span>
        <svg class="icon">
          <use href="images/sprite.svg#sparkles"></use>
        </svg>
      </span>
    </h2>
    <a href="#" class="btn btn-primary btn-arrow"
      ><span>Get Notion free</span></a
    >
  </header>
  <picture class="homeHero_picture">
    <img src="images/home-hero.webp" alt="Home Hero" />
  </picture>
</section>
<div class="HomeSidekick_sidekick">
  <picture class="homeHero_picture">
    <img src="images/sidekick-desktop-app.png" alt="Home Hero" />
  </picture>
</div>
