<section class="home-products container">
  <h2 class="heading-title home-product-title">
    Finally, all your work in one place
  </h2>
  <section class="home-product">
    <div class="home-product-content">
      <div class="home-product-content-media">
        <header class="home-product-contentHeader">
          <svg class="icon icon-red">
            <use href="images/sprite.svg#bookOpen"></use>
          </svg>
          <h3 class="home-product-content-title">Wikis</h3>
        </header>
        <p class="home-product-content-description">
          It's hard to move fast if you can't find anything. Centralize all your
          knowledge in Notion.
        </p>
        <a href="#" class="link-arrow link-arrow-red"><span>Explore</span></a>
      </div>
    </div>
    <div class="home-product-illustration">
      <img
        src="images/wiki-illo.webp"
        alt=""
        class="homeProducts_illustration-image"
      />
    </div>
    <div class="home-product-image">
      <img src="images/engineering-wiki-V2.png" alt="" />
    </div>
  </section>
  <section class="home-product">
    <div class="home-product-content">
      <div class="home-product-content-media">
        <header class="home-product-contentHeader">
          <svg class="icon icon-yellow">
            <use href="images/sprite.svg#doc"></use>
          </svg>
          <h3 class="home-product-content-title">Docs</h3>
        </header>
        <p class="home-product-content-description">
          Simple. Powerful. Beautiful. Communicate more efficiently with next
          generation docs.
        </p>
        <a href="#" class="link-arrow link-arrow-yellow"
          ><span>Explore</span></a
        >
      </div>
    </div>
    <div class="home-product-illustration">
      <img
        src="images/docs-illo.webp"
        alt="docs-illo"
        class="homeProducts_illustration-image"
      />
    </div>
    <div class="home-product-image">
      <img src="images/meeting-notes.webp" alt="meeting-notes" />
    </div>
  </section>
  <section class="home-product">
    <div class="home-product-content">
      <div class="home-product-content-media">
        <header class="home-product-contentHeader">
          <svg class="icon icon-blue">
            <use href="images/sprite.svg#path"></use>
          </svg>
          <h3 class="home-product-content-title">Projects</h3>
        </header>
        <p class="home-product-content-description">
          Manage any type of project more efficiently. No separate, clunky
          system.
        </p>
        <a href="#" class="link-arrow link-arrow-blue"><span>Explore</span></a>
      </div>
    </div>
    <div class="home-product-illustration">
      <img
        src="images/projects-illo.webp"
        alt=""
        class="homeProducts_illustration-image"
      />
    </div>
    <div class="home-product-image">
      <img src="images/projects.webp" alt="projects" />
    </div>
  </section>
  <section class="home-product">
    <div class="home-product-content">
      <div class="home-product-content-media">
        <header class="home-product-contentHeader">
          <svg class="icon icon-blue">
            <use href="images/sprite.svg#sparkles"></use>
          </svg>
          <h3 class="home-product-content-title">Notion AI</h3>
        </header>
        <p class="home-product-content-description">
          It's hard to move fast if you can't find anything. Centralize all your
          knowledge in Notion.
        </p>
        <a href="#" class="link-arrow link-arrow-blue"><span>Explore</span></a>
      </div>
    </div>
    <div class="home-product-illustration">
      <img
        src="images/ai-illo-V5.webp"
        alt=""
        class="homeProducts_illustration-image"
      />
    </div>
    <div class="home-product-image">
      <img src="images/ai-V5.webp" alt="ai-V5" />
    </div>
  </section>
</section>
