<svg class="icon icon-red">
  <use href="images/sprite.svg#bookOpen"></use>
</svg>
<svg class="icon icon-yellow">
  <use href="images/sprite.svg#doc"></use>
</svg>
<svg class="icon icon-blue">
  <use href="images/sprite.svg#sparkles"></use>
</svg>
<svg class="icon icon-purple">
  <use href="images/sprite.svg#star"></use>
</svg>
<svg class="icon icon-blue">
  <use href="images/sprite.svg#shuffle"></use>
</svg>
<svg class="icon icon-blue">
  <use href="images/sprite.svg#eye"></use>
</svg>
<svg class="icon icon-blue">
  <use href="images/sprite.svg#palette"></use>
</svg>
<svg class="icon icon-red">
  <use href="images/sprite.svg#home"></use>
</svg>
<svg class="icon icon-blue">
  <use href="images/sprite.svg#checkeredFlag"></use>
</svg>
<svg class="icon icon-orange">
  <use href="images/sprite.svg#wayPoint"></use>
</svg>
<svg class="icon icon-yellow">
  <use href="images/sprite.svg#clipboard"></use>
</svg>
<svg class="icon icon-red">
  <use href="images/sprite.svg#plan"></use>
</svg>
<svg class="icon icon-teal">
  <use href="images/sprite.svg#calendarMonth"></use>
</svg>
<svg class="icon icon-purple">
  <use href="images/sprite.svg#inbox"></use>
</svg>
<svg class="icon">
  <use href="images/sprite.svg#globe"></use>
</svg>
<svg class="icon">
  <use href="images/sprite.svg#hamburger"></use>
</svg>
<svg class="icon">
  <use href="images/sprite.svg#navCaret"></use>
</svg>
<svg class="icon">
  <use href="images/sprite.svg#shareFacebook"></use>
</svg>
<svg class="icon">
  <use href="images/sprite.svg#shareInstagram"></use>
</svg>
<svg class="icon">
  <use href="images/sprite.svg#shareLinkedIn"></use>
</svg>
<svg class="icon">
  <use href="images/sprite.svg#shareTwitter"></use>
</svg>
<svg class="icon">
  <use href="images/sprite.svg#shareYoutube"></use>
</svg>
