<header class="navHeader">
  <div class="inner">
    <div class="logo-wrap">
      <a href="/" class="brand-logo">
        <img src="/images/svg/logo.svg" alt="Notion" />
      </a>
    </div>
    <div class="desktop-actions">
      <nav class="navigationBar">
        <div class="nav-left">
          <ul class="nav-list">
            <li class="nav-item">
              <div class="has-menu">
                <span class="nav-item-button">Product</span>
              </div>
              <div class="popup">
                <div class="menu">
                  <div class="menu-section">
                    <div class="nav-section nav-section-content">
                      <ul class="nav-list">
                        <li class="nav-item">
                          <a href="#">
                            <div class="nav-item-inner">
                              <div class="nav-item-icon">
                                <svg class="icon icon-red icon-small">
                                  <use href="images/sprite.svg#bookOpen"></use>
                                </svg>
                              </div>
                              <div class="nav-item-body">
                                <span class="label">Wikis</span>
                                <span class="description">
                                  Centralize your knowledge
                                </span>
                              </div>
                            </div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="#">
                            <div class="nav-item-inner">
                              <div class="nav-item-icon">
                                <img
                                  src="images/projects-icon.webp"
                                  alt=""
                                  class="icon-small"
                                />
                              </div>
                              <div class="nav-item-body">
                                <span class="label">Projects</span>
                                <span class="description">
                                  For every team or size
                                </span>
                              </div>
                            </div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="#">
                            <div class="nav-item-inner">
                              <div class="nav-item-icon">
                                <svg class="icon icon-yellow icon-small">
                                  <use href="images/sprite.svg#doc"></use>
                                </svg>
                              </div>
                              <div class="nav-item-body">
                                <span class="label">Docs</span>
                                <span class="description">
                                  Simple & powerful
                                </span>
                              </div>
                            </div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="#">
                            <div class="nav-item-inner">
                              <div class="nav-item-icon">
                                <svg class="icon icon-purple icon-small">
                                  <use href="images/sprite.svg#sparkles"></use>
                                </svg>
                              </div>
                              <div class="nav-item-body">
                                <span class="label">Notion AI</span>
                                <span class="description">
                                  Integrated AI assistant
                                </span>
                              </div>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="menu-section">
                    <div class="nav-section nav-section-content">
                      <ul class="nav-list">
                        <li class="nav-item">
                          <a href="#">
                            <div class="nav-item-inner">
                              <div class="nav-item-body">
                                <span class="label">Template gallery</span>
                                <span class="description">
                                  Setups to get you started
                                </span>
                              </div>
                            </div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="#">
                            <div class="nav-item-inner">
                              <div class="nav-item-body">
                                <span class="label">Customer stories</span>
                                <span class="description">
                                  See how teams use Notion
                                </span>
                              </div>
                            </div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="#">
                            <div class="nav-item-inner">
                              <div class="nav-item-body">
                                <span class="label">Connection</span>
                                <span class="description">
                                  connect your tools to Notion
                                </span>
                              </div>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <div class="has-menu">
                <span class="nav-item-button">Download</span>
              </div>
              <div class="popup">
                <div class="menu">
                  <div class="menu-section">
                    <div class="nav-section nav-section-list">
                      <ul class="nav-list">
                        <li class="nav-item">
                          <a href="#">iOS & Android</a>
                        </li>
                        <li class="nav-item">
                          <a href="#">Mac & Windows</a>
                        </li>
                        <li class="nav-item">
                          <a href="#">Web Clipper</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <div class="has-menu">
                <span class="nav-item-button">Solutions</span>
              </div>
              <div class="popup">
                <div class="menu">
                  <div class="menu-section">
                    <div class="nav-section nav-section-content">
                      <div class="nav-section-title">By team size</div>
                      <ul class="nav-list">
                        <li class="nav-item">
                          <a href="#">
                            <div class="nav-item-inner">
                              <div class="nav-item-icon">
                                <img
                                  src="images/team-size-enterprise.png"
                                  alt=""
                                />
                              </div>
                              <div class="nav-item-body">
                                <span class="label">Enterprise</span>
                                <span class="description">
                                  Advanced features for your org
                                </span>
                              </div>
                            </div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="#">
                            <div class="nav-item-inner">
                              <div class="nav-item-icon">
                                <img
                                  src="images/team-size-small-business.png"
                                  alt=""
                                />
                              </div>
                              <div class="nav-item-body">
                                <span class="label">Small business</span>
                                <span class="description">
                                  Run your team on one tool
                                </span>
                              </div>
                            </div>
                          </a>
                        </li>
                        <li class="nav-item">
                          <a href="#">
                            <div class="nav-item-inner">
                              <div class="nav-item-icon">
                                <img
                                  src="images/team-size-personal.png"
                                  alt=""
                                />
                              </div>
                              <div class="nav-item-body">
                                <span class="label">Personal</span>
                                <span class="description">
                                  Free for individuals
                                </span>
                              </div>
                            </div>
                          </a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="menu-section">
                    <div class="nav-section nav-section-list">
                      <div class="nav-section-title">By team function</div>
                      <ul class="nav-list">
                        <li class="nav-item">
                          <a href="#">Design</a>
                        </li>
                        <li class="nav-item">
                          <a href="#">Engineering</a>
                        </li>
                        <li class="nav-item">
                          <a href="#">Product</a>
                        </li>
                        <li class="nav-item">
                          <a href="#">Managers</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="menu-section">
                    <div class="nav-section nav-section-list">
                      <div class="nav-section-title">Notion for</div>
                      <ul class="nav-list">
                        <li class="nav-item">
                          <a href="#">Startups</a>
                        </li>
                        <li class="nav-item">
                          <a href="#">Remote work</a>
                        </li>
                        <li class="nav-item">
                          <a href="#">Education</a>
                        </li>
                        <li class="nav-item">
                          <a href="#">Nonprofits</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <div class="has-menu">
                <span class="nav-item-button">Resources</span>
              </div>
              <div class="popup">
                <div class="menu">
                  <div class="menu-section">
                    <div class="nav-section nav-section-list">
                      <ul class="nav-list">
                        <li class="nav-item">
                          <a href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                          <a href="#">Guides & tutorials</a>
                        </li>
                        <li class="nav-item">
                          <a href="#">Webinars</a>
                        </li>
                        <li class="nav-item">
                          <a href="#">Help center</a>
                        </li>
                        <li class="nav-item">
                          <a href="#">API docs</a>
                        </li>
                        <li class="nav-item">
                          <a href="#">Community</a>
                        </li>
                        <li class="nav-item">
                          <a href="#">Find a consultant</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <span class="nav-item-button"><a href="#">Pricing</a></span>
            </li>
          </ul>
        </div>
        <div class="nav-right">
          <ul class="nav-list">
            <li class="nav-item">
              <span class="nav-item-button"
                ><a href="#">Request a demo</a></span
              >
            </li>
          </ul>
          <div class="divider"></div>
          <ul class="nav-list">
            <li class="nav-item">
              <span class="nav-item-button"><a href="#">Log in</a></span>
            </li>
            <li class="cta-item">
              <a href="#" class="btn btn-primary">
                <span>Get Notion free</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
